<div class="tab-container grid items-center px-16 py-4">
  <p class="title justify-self-start">dennis.</p>

  <div class="tabs justify-self-center">
    <div
      class="indicator"
      [ngStyle]="{
        'width.px': indicatorWidth,
        transform: 'translateX(' + indicatorTranslate + 'px)'
      }"
    ></div>
    @for (tab of tabs; track $index) {
      <button
        #tabButton
        (click)="selectTab($index)"
        [class.active]="selectedIndex === $index"
        class="tab-button"
      >
        {{ 'menu.'+tab | translate | capital }}
      </button>
    }
  </div>

  <p class="actions justify-self-end">holaholaholaholaholaholaholaholahola</p>
</div>
